@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Mobile first design */

/* Reset  */

* {
    box-sizing: border-box;
    margin: 0;
}

/* Typography */
* {
    --primary-color: #023047;
    --secondary-color: #f1faee;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 1rem;
}

h1 {
    font-size: 1.875rem;
    text-align: center;
    padding-bottom: 0.5em;
}


@media all and (min-width: 768px) {
    body {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 2rem;
    }
}

label {
    display: block;
}

.container {
    margin: 0 auto;
    border: 3px solid;
    border-radius: 5px;
    padding: 2rem 2rem;
    min-width: fit-content;

}

#amount-input {
    box-sizing: border-box;
    padding: 0.7em 0.5em;
    width: 100%;
}

.currency-selection-row {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    padding: 1em 1em;
    width: 10rem;
}

i {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.btn {
    width: 100%;
    padding: 1em 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
}